flow.jason
[{"id":"da49196f.3448f8","type":"tab","label":"Json.flow","disabled":false,"info":""},{"id":"431fa197.9311f","type":"function","z":"da49196f.3448f8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n//following are required to receive a token\nvar apikey=\"Dmx1gkFCNRDF1Yok8Yu5Xa1_7o7geLCoN8brJGARqAMP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["a8077acd.418a58"]]},{"id":"33922917.970266","type":"http request","z":"da49196f.3448f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2860fbe3-33ca-48ca-a4ba-d09de284f468/deployments/e46b2caa-32cc-410b-b5bd-f925d7ac50ce/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["84a01192.9242a","823f1f3d.73552"]]},{"id":"835a95e8.2aefb8","type":"debug","z":"da49196f.3448f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"823f1f3d.73552","type":"function","z":"da49196f.3448f8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["eaba076.231d4f8","835a95e8.2aefb8"]]},{"id":"84a01192.9242a","type":"debug","z":"da49196f.3448f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"4ad3c499.4ebeec","type":"function","z":"da49196f.3448f8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"2860fbe3-33ca-48ca-a4ba-d09de284f468\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Year', 'Status', 'Adult Mortality',\n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',\n       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',\n       ' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["33922917.970266"]]},{"id":"a8077acd.418a58","type":"http request","z":"da49196f.3448f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["4ad3c499.4ebeec"]]},{"id":"9c3424fe.25a3a8","type":"ui_form","z":"da49196f.3448f8","name":"","label":"","group":"739c63fe.ec3c8c","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["431fa197.9311f"]]},{"id":"eaba076.231d4f8","type":"ui_text","z":"da49196f.3448f8","group":"739c63fe.ec3c8c","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"739c63fe.ec3c8c","type":"ui_group","z":"","name":"Default","tab":"fbe89ea4.7f78e","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbe89ea4.7f78e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
